<%= form_for([question.course,question]) do |f|  %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
   </div>
 
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
   </div>

   <% if !logged_in? %>
      <%= "you need to be logged in to post" %>
  <% elsif %>
      <%= "posting as  #{current_user.name} (#{current_user.email})" %><br>
  <% end %>

  <br>
  <button class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" >Ask Question</button>
  
<% end %>
