<div class="question">
    <h3><%= link_to question.title, course_question_path(question.course,question) %></h3> 
    <hr style="margin: .5em 0;">
    <%= question.description %>
    
    <p class="author">
        asked by <%= link_to question.user.name, url_for(question.user) %>
    </p>
</div>
<br>