
Votes: <%= @question.get_score() %>
      <% if current_user && current_user.upvoted_question?(@question) %>
      <%=link_to image_tag(image_url("upvote_done.png"), :size => "20x20"), upvote_course_question_path(@question.course, @question), remote: true , method: :post  %>
    <% else %>
      <%=link_to image_tag(image_url("upvote.png"), :size => "20x20"), upvote_course_question_path(@question.course, @question), remote: true , method: :post  %>
    <% end %>
    <% if current_user && current_user.downvoted_question?(@question) %>
      <%=link_to image_tag(image_url("downvote_done.png"), :size => "20x20"), downvote_course_question_path(@question.course, @question), remote: true , method: :post  %>
    <% else %>
      <%=link_to image_tag(image_url("downvote.png"), :size => "20x20"), downvote_course_question_path(@question.course, @question), remote: true , method: :post  %>
    <% end %>