<p id="notice"><%= notice %></p>

<div class="question-page">
  <h1>Search:</h1>
  <%= form_tag questions_path, :method => 'get' do %>
    <p>
      <strong>Title:</strong><br>
      <%= text_field_tag :title, params[:title] %>
      <br>
      <strong>Keyword:</strong><br>
      <%= text_field_tag :keyword, params[:keyword] %>
      <br>
      <strong>In Course:</strong><br>
      <%= select_tag :course, options_from_collection_for_select(Course.all, "id", "full_name",params[:course]), prompt: "Select Course" %>
      <br>
      <strong>By User:</strong><br>
      <%= select_tag :poster, options_from_collection_for_select(User.all, "id", "name",params[:poster]), prompt: "Select User"  %>
      <br>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
</div>

<% if @questions %>
<div class="question-page">
  <h1>Results:</h1>
  <% if @questions.count > 0 %>
    <% @questions.each do |question| %>
      <div class="question">
        <h1>
          <strong><%= link_to question.title , course_question_path(question.course.id, question.id) %></strong> 
        </h1>
        <p class="subheader">
          by <% if question.user %><%= link_to question.user.name, url_for(question.user) %><% end %> 
          <% if current_user && (current_user.is_admin? || current_user.id == question.user_id) %>
          (<%= link_to 'Edit Question', edit_course_question_path(question.course,question) %> | <%= link_to 'Delete Question', [question.course, question], method: :delete, data: { confirm: 'Are you sure?' } %>)
          <% end %>
           -- Posted in <% if question.course %><%= link_to (question.course.name + " " + question.course.code), url_for(question.course) %><% end %>
        </p>
        
        <% if current_user && current_user.upvoted_question?(question) %>
          <%=link_to image_tag(image_url("upvote_done.png"), :size => "15x15"), upvote_course_question_path(question.course, question), method: :post  %>
        <% else %>
          <%=link_to image_tag(image_url("upvote.png"), :size => "15x15"), upvote_course_question_path(question.course, question), method: :post  %>
        <% end %>
        Votes: <%= question.get_score() %>
        <br>
            <% if current_user && current_user.downvoted_question?(question) %>
          <%=link_to image_tag(image_url("downvote_done.png"), :size => "15x15"), downvote_course_question_path(question.course, question), method: :post  %>
        <% else %>
          <%=link_to image_tag(image_url("downvote.png"), :size => "15x15"), downvote_course_question_path(question.course, question), method: :post  %>
        <% end %>
        
        <br>
        <br>
        <%= question.description %>
        <br>
        <br>
      </div> 
    <% end %>
  <% else %>
    <strong>No questions found that match your query!</strong> 
  <% end %>
  
  </div>
<% end %>
