<div class="question-page">
  
  <div class="description">
    <p id="notice"><%= notice %></p>
    <h1>
      <strong><%= @question.title %></strong> 
    </h1>
    <% flash.each do |message_type, message| %>
  		<div class="alert alert-<%= message_type %>"><%= message %></div>
	  <% end %>
    <p class="subheader">
      by <% if @question.user %><%= link_to @question.user.name, url_for(@question.user) %><% end %> 
      <br>
      <% if current_user && (current_user.acct_type==0 || current_user.id == @question.user_id) %>
      (<%= link_to 'Edit Question', edit_course_question_path(@question.course,@question) %> | <%= link_to 'Delete Question', [@question.course, @question], method: :delete, data: { confirm: 'Are you sure?' } %>)
      <% end %>    
    </p>
    
    <div id="vote_count">
      Votes: <%= @question.get_score() %>
      <% if current_user && current_user.upvoted_question?(@question) %>
      <%=link_to image_tag(image_url("upvote_done.png"), :size => "20x20"), upvote_course_question_path(@question.course, @question), remote: true , method: :post  %>
    <% else %>
      <%=link_to image_tag(image_url("upvote.png"), :size => "20x20"), upvote_course_question_path(@question.course, @question), remote: true , method: :post  %>
    <% end %>
    <% if current_user && current_user.downvoted_question?(@question) %>
      <%=link_to image_tag(image_url("downvote_done.png"), :size => "20x20"), downvote_course_question_path(@question.course, @question), remote: true , method: :post  %>
    <% else %>
      <%=link_to image_tag(image_url("downvote.png"), :size => "20x20"), downvote_course_question_path(@question.course, @question), remote: true , method: :post  %>
    <% end %>
    </div>
    
    <br>
    <br>
    <%= @question.description %>
    <br>
    <br>
    <p>
    -- Posted in <% if @question.course %><%= link_to (@question.course.name + " " + @question.course.code), url_for(@question.course) %><% end %>
    </p>
    <%= link_to 'Back', :back, :class => "mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
    
  </div>
  <br>
  <div class="answers">
    <h2>Answers:</h2>
    <%= render @question.answers %>


    <strong>Add an answer:</strong>
    <%= render "answers/form", question:@question, answer:@question.answers.build  %>
  </div>
  <div style="clear: both"></div> <!-- This goes after the last floated element - no floating elements are allowed on either side of this. -->
  
</div>
