<div class="login-page">
	<h1>well howdy-doo-dee</h1>
	<% flash.each do |message_type, message| %>
  		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>

	<%= form_for(:session, url: login_path) do |f| %>
		<%= f.label :email %>
		<%= f.email_field :email, :autofocus=>true, class: 'form-control' %>

		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %><br><br>
		
		<%= f.label :remember_me, class: "checkbox inline" do %>
        	<%= f.check_box :remember_me %>
        	<span>Remember me on this computer</span>
      	<% end %>


		<%= f.submit "Log yer bad self in", class: "mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
	<% end %>
</div>
