<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  
  <div class="field">
    <%= f.label "Account Type" %>
    <% if current_user.is_admin? %>
        <% if user.is_admin? %>
          <%= select_tag :acct_type, "<option selected='selected' value='0'>Administrator</option><option value='1'>Registrar</option><option value='2'>Faculty</option><option value='3'>Student</option>".html_safe, :multiple => false %>
        <% elsif user.is_registrar? %>
          <%= select_tag :acct_type, "<option value='0'>Administrator</option><option selected='selected' value='1'>Registrar</option><option value='2'>Faculty</option><option value='3'>Student</option>".html_safe, :multiple => false %>
        <% elsif user.is_faculty? %>
          <%= select_tag :acct_type, "<option value='0'>Administrator</option><option value='1'>Registrar</option><option selected='selected' value='2'>Faculty</option><option value='3'>Student</option>".html_safe, :multiple => false %>
        <% else %>
          <%= select_tag :acct_type, "<option value='0'>Administrator</option><option value='1'>Registrar</option><option value='2'>Faculty</option><option selected='selected' value='3'>Student</option>".html_safe, :multiple => false %>
        <% end %>
    <% end %>
    
    <% if current_user.is_registrar? %>
        <% if user.is_registrar? %>
          <%= select_tag :acct_type, "<option selected='selected' value='1'>Registrar</option><option value='2'>Faculty</option><option value='3'>Student</option>".html_safe, :multiple => false %>
        <% elsif user.is_faculty? %>
          <%= select_tag :acct_type, "<option value='1'>Registrar</option><option selected='selected' value='2'>Faculty</option><option value='3'>Student</option>".html_safe, :multiple => false %>
        <% else %>
          <%= select_tag :acct_type, "<option value='1'>Registrar</option><option value='2'>Faculty</option><option selected='selected' value='3'>Student</option>".html_safe, :multiple => false %>
        <% end %>
    <% end %>

    <% if current_user.is_faculty? %>
        <%= select_tag :acct_type, "<option selected='selected' value='2'>Faculty</option>".html_safe, :multiple => false %>
    <% end %>
    
    <% if current_user.is_student? %>
        <%= select_tag :acct_type, "<option selected='selected' value='3'>Student</option>".html_safe, :multiple => false %>
    <% end %>
    
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <% if (current_user.is_admin? || current_user.is_registrar?) && @user.is_user? %> 
  <div class="field">
    <%= f.label :courses %>
    <%= select_tag "course_list", options_from_collection_for_select(Course.all, 'id', 'full_name', user.courses.map{ |j| j.id }), :multiple => true %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
