<div class="user">
<% if current_user == @user || current_user.is_admin? || current_user.is_registrar? %>
<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'View Profile', @user, :class => "mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" %> |
<%= link_to 'Back', :back, :class => "mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
<% else %>
<h2>You do not have permission to edit this user!</h2>
<%= link_to 'Back', users_path, :class => "mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
<% end %>
</div>
