<div class="import">
    <h1>Import Users</h1>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
	<h2>Select a .csv file below and hit upload to import users into NkuNet!</h2>
    <%= form_tag("/users/import", multipart: true, method: :post) do %>
        <%= file_field_tag (:file) %>
        <%= submit_tag("Upload") %>
    <% end %>

    <br>

    <%= link_to 'Back to User List', users_path, :class => "mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
</div>

