<div class="user">
<% if logged_in? && (current_user.is_admin? || current_user.is_registrar?) %>
<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Account Type</th>
      <th>Reputation</th>
      <th>Name</th>
      <th>Username</th>
      <th>Password</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.account_type %></td>
        <td><%= user.reputation %></td>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td>
          <% if current_user.is_admin? || current_user.is_registrar? %>
            <%= link_to 'Edit', edit_user_path(user) %>
          <% end %>
        </td>
        <td>
          <% if current_user.is_admin? || current_user.is_registrar? %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a button class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="<%= new_user_path %>">New User</button></a>  
<a button class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="/users/import">Import Users</button></a>
<% else %>
You need to be an administrator or registrar to see or create new users. <a href="/login">Log in now</a>
<% end %>
</div>
