    
<div class="user">
  <p id="notice"><%= notice %></p>
  <h1><%= @user.name %></h1>
  <h2><%= @user.username %></h2>
  	
  <p>
    <strong><%= @user.account_type %></strong>
  </p>
  
  <p>
    <strong>Reputation:</strong>
    <%= @user.get_reputation %>
  </p>
  
  <% if logged_in? && (current_user.id == @user.id || current_user.is_admin? || (current_user.is_registrar? && !current_user.is_admin?)) %>
  
  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  
  <% end %>
  
  <% if @user.is_user? %>
    <p>
      <% if @user.is_faculty? %>
        <strong>Currently Teaching:</strong><br>
      <% else %>
        <strong>Currently Enrolled In:</strong><br>
      <% end %>
      <% if @user.courses.count > 0 %>
        <% @user.courses.each do |course| %>
          <%= link_to (course.name + " " + course.code), url_for(course) %> taught by <%= format_users(course.get_teachers).html_safe %><br>
        <% end %>
      <% else %>
        <strong>No Courses</strong>
      <% end %>
    </p>
  <% end %>

  
  <% if logged_in? && (current_user.id == @user.id || current_user.is_admin? || (current_user.is_registrar? && current_user.acct_type <= @user.acct_type)) %>
  <%= link_to 'Edit Profile', edit_user_path(@user), :class => "mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" %> |
  <% end %>
  <%= link_to 'Back', :back, :class => "mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>  
</div>