<div id="container">
    <div id="sidebar">
<div class="question-page">
<h1>Recent and Trending Questions:</h1>
<% @questions.each do |question| %>
  <div class="question">
    <h1>
      <strong><%= link_to question.title , course_question_path(question.course.id, question.id) %></strong> 
    </h1>
    <p class="subheader">
      by <% if question.user %><%= link_to question.user.name, url_for(question.user) %><% end %> 
      <% if current_user && (current_user.is_admin? || current_user.id == question.user_id) %>
      (<%= link_to 'Edit Question', edit_course_question_path(question.course,question) %> | <%= link_to 'Delete Question', [question.course, question], method: :delete, data: { confirm: 'Are you sure?' } %>)
      <% end %>
       -- Posted in <% if question.course %><%= link_to (question.course.name + " " + question.course.code), url_for(question.course) %><% end %>
    </p>
    
    <div id="vote_count">
      Votes: <%= question.get_score() %>
      <% if current_user && current_user.upvoted_question?(question) %>
      <%=link_to image_tag(image_url("upvote_done.png"), :size => "20x20"), upvote_course_question_path(question.course, question), method: :post  %>
    <% else %>
      <%=link_to image_tag(image_url("upvote.png"), :size => "20x20"), upvote_course_question_path(question.course, question), method: :post  %>
    <% end %>
    <% if current_user && current_user.downvoted_question?(question) %>
      <%=link_to image_tag(image_url("downvote_done.png"), :size => "20x20"), downvote_course_question_path(question.course, question), method: :post  %>
    <% else %>
      <%=link_to image_tag(image_url("downvote.png"), :size => "20x20"), downvote_course_question_path(question.course, question), method: :post  %>
    <% end %>
    </div>
    
    
    <br>
    <br>
    <%= question.description %>
    <br>
    <br>
  </div> 
<% end %>
</div>
</div>
    
    
    <div id="content"><h1>Welcome to NkuNet!</h1>
<h2>This is an early access development non-serious meme filled alpha-beta of our system. Everything is rock solid.</h2><h3>(and by that we mean that it's probably very fragile)</h3><br><br>
<a class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/courses" data-upgraded=",MaterialButton,MaterialRipple">
              View Course List
            <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 255.922px; height: 255.922px; transform: translate(-50%, -50%) translate(99px, 18px);"></span></span></a></div>
</div>

