<div class="answer" id="answer">
    <%= answer.description %><br>
    Votes: <%= answer.get_score() %>
    <% if current_user && current_user.upvoted_answer?(answer) %>
      <%=link_to image_tag(image_url("upvote_done.png"), :size => "20x20"), upvote_course_question_answer_path(answer.question.course,answer.question,answer), method: :post  %>
    <% else %>
      <%=link_to image_tag(image_url("upvote.png"), :size => "20x20"), upvote_course_question_answer_path(answer.question.course,answer.question,answer), method: :post  %>
    <% end %>
    <% if current_user && current_user.downvoted_answer?(answer) %>
      <%=link_to image_tag(image_url("downvote_done.png"), :size => "20x20"), downvote_course_question_answer_path(answer.question.course,answer.question,answer), method: :post  %>
    <% else %>
      <%=link_to image_tag(image_url("downvote.png"), :size => "20x20"), downvote_course_question_answer_path(answer.question.course,answer.question,answer), method: :post  %>
    <% end %>
    <p class="author">
        by <%= link_to answer.user.name, url_for(answer.user) %> 
        <% if current_user && (current_user.is_admin? || current_user.id == answer.user_id) %>
        (<%= link_to 'Edit Answer', edit_course_question_answer_path(answer.question.course,answer.question,answer) %> | <%= link_to 'Delete Answer', [answer.question.course,answer.question, answer], method: :delete, data: { confirm: 'Are you sure?' } %>)
        <% end %>
    </p>
</div>
<br>