<%= form_for([answer.question.course,answer.question,answer]) do |f|  %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <% if !logged_in? %>
    <%= "you must be logged in to answer a question." %>
  <% else %>
    <%= "answering as #{current_user.name} (#{current_user.email})" %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
