<p id="notice"><%= notice %></p>

<h3 style="color: grey;">Courses</h3><hr> 

  
<main class="mdl-layout__content">
  <div class="page-content">
    <div class="mdl-grid ">
      <% @courses.each do |course| %>

        <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--2-col mdl-layout-spacer mdl-shadow--8dp" style="width: 320px; height: 320px;">
          <div class="mdl-card__title mdl-card--expand" style="background:url('<%= course.image_url %>') bottom right 15% no-repeat #9E9E9E; background-size: 100% 100%;">
            <h2 class="mdl-card__title-text"><%= course.name %> <%= course.code %></h2>
          </div>
          <div class="mdl-card__supporting-text">
            <%= course.desc %>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="<%= url_for(course) %>">
              View Course
            </a>
            <div class="material-icons mdl-badge mdl-badge--overlap mdl-color-text--blue-grey-300" data-badge="<%= course.questions.count %>" style="margin-left: 200px;">comment</div>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</main>

<br>
<% if current_user && current_user.is_admin? %>
<a button class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="<%= new_course_path %>">Add Course</button></a>
<% end %>

