<div class="course">
  
  <div class="description">
    <img src='<%= @course.image_url %>' alt="Mountain View" class="classimg">
    <p id="notice"><%= notice %></p>
    <h1>
      <strong><%= @course.name %> <%= @course.code %></strong>
    </h1>
    	<% flash.each do |message_type, message| %>
  		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
	
	  <% if current_user && current_user.is_admin? %>
    <p class="subheader">
       <a button class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="<%=@course.id%>/edit"></button>Edit Course</a>
       <a button class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" <%= link_to 'Delete Course', @course, method: :delete, data: { confirm: 'Are you sure?' } %> </button></a>
    </p>
    <% end %>
    <hr>
    <%= @course.desc %>
    <br>
    <br>
    Being taught by: <%= format_users(@course.get_teachers).html_safe %>
    <br>
    <br>
    Enrolled students: <%= format_users(@course.get_students).html_safe %>
    <br>
    <br>
    <br>
    <%= link_to 'Back', :back, :class => "mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
  </div>
  <br>
  <div class="questions">
    <h2>Questions:</h2>
    <%= render @course.questions %>


    <strong>Add a question:</strong>
    <%= render "questions/form", course:@course, question:@course.questions.build  %><br>
  </div>
  <div style="clear: both"></div> <!-- This goes after the last floated element - no floating elements are allowed on either side of this. -->
  
</div>


