// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.demo-card-square.mdl-card {
  max-width: 400px;
  height: 320px;
  color: white;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background-size: 100% 100%;
}

.question-page{
  h1 { 
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0; 
  }

  h2 { 
    color: #7c795d; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 28px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 24px; 
  }
  
  h3 { 
    color: #7c795d; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 5px; 
  }
  
  .subheader {
    a{
      color: #ffcc66; 
    }
    font-size: 15px; 
    font-weight: 300; 
    color: #7c795d; 
    margin: 0 0 24px;
  }
  
  .description {
    float: left; width: 45%;
    
    
  }
  .answers {
    padding-left: 4%;
    border-left: 1px solid rgba(0,0,0,.14);
    float: right; width: 50%;
  }
  .answer {
    //background-color: #eee;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
    padding: 3px 10px 3px;
    border-radius: 2px;
  }
  border-radius: 2px;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
  margin-top: 2%;
  margin-right: 15%;
  margin-bottom: 1%;
  margin-left: 15%;
  padding: 2%;
}
