// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user{
  h1 { 
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0; 
  }

  h2 { 
    color: #7c795d; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 28px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 24px; 
  }
  
  h3 { 
    color: #7c795d; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 5px; 
  }
  
  .subheader {
    a{
      color: #ffcc66; 
    }
    font-size: 15px; 
    font-weight: 300; 
    color: #7c795d; 
    margin: 0 0 24px;
  }
  
  border-radius: 2px;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
  margin-top: 2%;
  margin-right: 15%;
  margin-bottom: 1%;
  margin-left: 15%;
  padding: 2%;
  
  
  .user_course{
    h3 { 
        a{
          color: #ffcc66; 
        }
        color: #7c795d; 
        font-family: 'Source Sans Pro', sans-serif; 
        font-size: 18px; 
        font-weight: 400; 
        line-height: 32px; 
        margin: 0 0 0px; 
    }

    border-radius: 2px;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
    margin-top: 1%;
    margin-right: 25%;
    margin-bottom: 1%;
    margin-left: 2%;
    padding: 1% 2% 1%;
  }
}

.import{
  h1 { 
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0; 
  }

  h2 { 
    color: #7c795d; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 28px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 24px; 
  }
  
  h3 { 
    color: #7c795d; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 5px; 
  }
  
  .subheader {
    a{
      color: #ffcc66; 
    }
    font-size: 15px; 
    font-weight: 300; 
    color: #7c795d; 
    margin: 0 0 24px;
  }
  
  border-radius: 2px;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
  margin-top: 2%;
  margin-right: 15%;
  margin-bottom: 1%;
  margin-left: 15%;
  padding: 2%;
}

th {
  padding-right: 30px;
  text-align:left;
}

td {
  padding-right: 30px;
  text-align:left;
}