// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
height: 100%;
}

.question-page{
  h1 { 
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-size: 25px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0; 
  }

  h2 { 
    color: #7c795d; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 24px; 
  }
  
  h3 { 
    color: #7c795d; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 12px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 5px; 
  }
  
  .subheader {
    a{
      color: #ffcc66; 
    }
    font-size: 12px; 
    font-weight: 300; 
    color: #7c795d; 
    margin: 0 0 24px;
  }
  .question {
    //background-color: #eee;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
    padding: .5% 10% .5%;
    border-radius: 2px;
  }
  border-radius: 2px;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
  margin-top: 2%;
  margin-right: 15%;
  margin-bottom: 2%;
  margin-left: 15%;
  padding: 2%;
}

#container {
    width: 100%;
    margin: 0 auto;
}

#sidebar {
    float: right;
    width: 35%;
}

#content {
    margin-left: 30px;
    overflow: hidden;
}