<!DOCTYPE html>
<html>
  <head>
    <title>NKUNet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.amber-blue.min.css" />
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
        
  </head>

<body>
    
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        
      <a href="/"><img src="https://upload.wikimedia.org/wikipedia/en/f/f5/NKU_Norse.png" alt="NKU Logo" style="width:40px; height:40px;"></a>
      
      <a href="/"><span class="mdl-layout-title links" style="margin-top:35px;">NKUNet<br><p style="font-size:10px;">Make NKU Great Again</p></span></a>
      
      <div class="mdl-layout-spacer"></div>
      
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/"><div id="tt1" class="icon material-icons icon">home</div><div class="mdl-tooltip" data-mdl-for="tt1">Home</div>Home</a>
        <!--<a class="mdl-navigation__link" href="/"><div id="tt3" class="icon material-icons icon">info</div><div class="mdl-tooltip" data-mdl-for="tt3">About</div>About</a>-->
        
        <% if current_user %>
           <a class="mdl-navigation__link" href="/users/<%= current_user.id %>"><div id="tt2" class="icon material-icons icon">account_circle</div><div class="mdl-tooltip" data-mdl-for="tt2">Profile</div>Profile</a>
        <% else %>
           <a class="mdl-navigation__link" href="/login"><div id="tt2" class="icon material-icons icon">account_circle</div><div class="mdl-tooltip" data-mdl-for="tt2">Login</div>Login</a>
        <% end %>
        <a class="mdl-navigation__link" href="/courses"><div id="tt4" class="icon material-icons icon">school</div><div class="mdl-tooltip" data-mdl-for="tt4">Courses</div>Courses</a>
  
    <div class="searchbar">
      <%= form_tag questions_path, :id => 'search-form', :method => 'get' do %>
      <div>
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-expandable">
          <div id="tt6" class="icon material-icons icon" onClick="document.forms['search-form'].submit();">search</div><div class="mdl-tooltip" data-mdl-for="tt6">Search</div>
        </label>
        <%= text_field_tag :title, params[:title], :class => "searchfield" %>
      </div>
      <% end %>  
    </div>

      </nav>
    </div>
  </header>
  
  <% if current_user %>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title" style="text-align:center;padding-left:0px;"><%= current_user.name %></span>
    <span class="mdl-layout-header" style="text-align:center;"><%= current_user.account_type %></span><hr>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/users/<%= current_user.id %>">View Profile</a>
      <a class="mdl-navigation__link" href="/courses/">View Course List</a>
      <% if current_user.is_admin? %>
        <a class="mdl-navigation__link" href="/users/<%= current_user.id %>">Add Course</a>
      <% end %>
      <% if current_user.is_admin? || current_user.is_registrar? %>
        <a class="mdl-navigation__link" href="/users/">View User List</a>
        <a class="mdl-navigation__link" href="/users/new">Add User</a>
        <a class="mdl-navigation__link" href="/users/import">Import Users</a>
      <% end %>
      <a class="mdl-navigation__link" href="/logout">Logout</a>
    </nav>
  </div>
  <% end %> 
  
  <main class="mdl-layout__content">
      
    <div class="page-content">

    <%= yield %> <!-- HERE LIES ALL OF THE PAGE CONTENT -->
    
    </div>
  </main>
  
  <footer class="mdl-mini-footer" style="padding: 4px 32px;">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Back Left Corner</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://bitbucket.org/backleftcornercsc440/nkunet">Bitbucket |</a></li>
      <li><a href="https://trello.com/backleftcorner">Trello</a></li>
    </ul>
  </div>
  </footer>
  
</div>

</body>

</html>
